<div class="card">
    <form>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search for user">
            </div>
            <div class="col">
                <a (click)="addRequest()">
                    <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                </a>
            </div>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">What?</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">User</th>
            <th scope="col">State</th>
            <th scope="col" *ngIf="roles.includes('admin')">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of all_requests; index as i" class="request-row">
            <th scope="row" (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ i + 1 }}</th>
            <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.name }}</td>
            <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.quantity | number }}</td>
            <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.price | number }}</td>
            <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.requesterFirstName }} {{request.requesterLastName }}</td>
            <td (click)="showRequestDeatils(request.ParcelOrderItemId)">
                <span class="badge badge-primary" *ngIf="request.state == 'requested'">requested</span>
                <span class="badge badge-success" *ngIf="request.state == 'accept'">accepted</span>
                <span class="badge badge-info" *ngIf="request.state == 'allocated'">allocated</span>
                <span class="badge badge-light" *ngIf="request.state == 'ordered'">ordered</span>
                <span class="badge badge-danger" *ngIf="request.state == 'decline'">declined</span>
                <span class="badge badge-secondary" *ngIf="request.state == 'archived'">archived</span>
            </td>
            <td>
                <button type="button" class="btn btn-dark" *ngIf="roles.includes('admin') && request.state == 'requested'" (click)="showRequestProcess(request.ParcelOrderItemId)">Process</button>
                <button type="button" class="btn btn-dark" *ngIf="roles.includes('admin') && request.state == 'accept'" (click)="showRequestAllocate(request.ParcelOrderItemId, request.name)">Allocate</button>
            </td>
        </tr>
    </tbody>
</table>