<div class="card">
    <form>
        <div class="form-row">
            <div class="col">
                <input type="text" class="form-control" placeholder="Search for user">
            </div>
            <div class="col">
                <a (click)="addRequest()">
                    <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                </a>
            </div>
        </div>
    </form>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">What?</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">User</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let request of all_requests; index as i" class="request-row">
            <th scope="row" (click)="showRequestDeatils(request._id)">{{ i + 1 }}</th>
            <td (click)="showRequestDeatils(request._id)">{{ request.name }}</td>
            <td (click)="showRequestDeatils(request._id)">{{ request.quantity | number }}</td>
            <td (click)="showRequestDeatils(request._id)">{{ request.price | number }}</td>
            <td (click)="showRequestDeatils(request._id)">{{ request.user }}</td>
            <td><button type="button" class="btn btn-dark" *ngIf="roles.includes('admin')">Process</button></td>
        </tr>
    </tbody>
</table>