<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"><a routerLink="/dashboard"><img src='../assets/spectory.png'></a></div>
        <div class="list-group list-group-flush">
            <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
                <div class="container">
                    <ul class="nav navbar-nav" routerLinkActive="active">
                        <li class="nav-item"><a class="nav-link" routerLink="/order-request/overview">Order-Request</a></li>
                        <li class="nav-item"><a class="nav-link" routerLink="/parcel-tracking/overview">Parcel-Tracking</a></li>
                        <li class="nav-item" *ngIf="roles.includes('admin')"><a class="nav-link" routerLink="/user/file-import">UserImport</a></li>
                    </ul>
                </div>
            </nav>
        </div>
        <div class="sidebar-footer">
            <a (click)="doLogout()" class="sidebar-btn">
                <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
            </a>
            <p></p>
            <a [href]="userProfileURL" target="_blank" class="sidebar-btn">
                <fa-icon [icon]="['fas', 'user-circle']"></fa-icon>
            </a>
        </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->