#sidebar-wrapper {
  min-height: 100vh;
  margin-left: 0;
  width: 7%;
  background-color: #111;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 7%;
}

#page-content-wrapper {
    min-width: 0;
    width: 100%;
    margin: 1%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
}

.sidebar-footer {
    position: fixed;
    bottom: 0;
    height: 5%;
    width: 7%;
    padding-left: 3%;
}

.nav-link {
  color: white;
}

#logout {
    text-align: center;
    color: grey;
}

#logout:hover {
    cursor: pointer;
}