.modal-body {
    margin: 1%;
}

.info {
    margin: 5px;
    color: gray;
}

.input-group {
    margin-bottom: 5px;
}

#import-btn {
    position: absolute;
    left: 0;
    margin-left: 1%;
}

.col-2 label {
    text-align: center;
    width: 100%;
}