<div class="modal-header">
    <h4 class="modal-title">New Order Request</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<p *ngIf="errAfterSubmit">
    <ngb-alert [dismissible]="false">
        <p *ngFor="let err of errMessage">
            <strong>Warning!</strong> {{ err }}
        </p>
    </ngb-alert>
</p>
<form [formGroup]="requestForm" (ngSubmit)="submitRequest(requestForm.value)">
    <div class="modal-body">
        <div class="input-group row">
            <label for="name">Name*</label>
            <input id="name" type="text" class="form-control" formControlName="name" placeholder="Name *" required
                minlength="1">
            <fa-icon [icon]="['fas', 'info-circle']" class="info" placement="left" ngbTooltip="What you want to order">
            </fa-icon>
        </div>
        <div class="input-group row">
            <label for="quantity">Quantity*</label>
            <input id="quantity" type="number" class="form-control" formControlName="quantity" placeholder="Quantity *"
                min="1" required>
            <fa-icon [icon]="['fas', 'info-circle']" class="info" placement="left"
                ngbTooltip="How many you want to order">
            </fa-icon>
        </div>
        <div class="input-group row">
            <label for="price">Price*</label>
            <input id="price" type="number" class="form-control" formControlName="price" placeholder="Price in € *"
                min="0.01" required step="0.01">
            <div class="input-group-prepend">
                <div class="input-group-text">€</div>
            </div>
            <fa-icon [icon]="['fas', 'info-circle']" class="info" placement="left"
                ngbTooltip="How much does the complete order cost excl. shipping">
            </fa-icon>
        </div>
        <div class="input-group row">
            <label for="shipping">Shipping*</label>
            <input id="shipping" type="number" class="form-control" formControlName="shipping"
                placeholder="Shipping in € *" min="0.01" required step="0.01">
            <div class="input-group-prepend">
                <div class="input-group-text">€</div>
            </div>
            <fa-icon [icon]="['fas', 'info-circle']" class="info" placement="left"
                ngbTooltip="How much does the shipping for the complete order cost">
            </fa-icon>
        </div>
        <div class="input-group row">
            <label for="reason">Reason*</label>
            <input id="reason" type="text" class="form-control" formControlName="reason" placeholder="Reason *" min="1"
                required>
            <fa-icon [icon]="['fas', 'info-circle']" class="info" placement="left"
                ngbTooltip="Why do you need this item">
            </fa-icon>
        </div>
        <div class="input-group row">
            <label for="link">Link*</label>
            <input id="link" type="text" class="form-control" formControlName="link" placeholder="Link *" min="1"
                required>
            <fa-icon [icon]="['fas', 'info-circle']" class="info" placement="left"
                ngbTooltip="Where to buy this item (Doesn´t has to be a URL)">
            </fa-icon>
        </div>
        <div class="input-group row">
            <label for="info">More info</label>
            <input id="info" type="text" class="form-control" formControlName="info" placeholder="More information">
            <fa-icon [icon]="['fas', 'info-circle']" class="info" placement="left"
                ngbTooltip="Do we need to know more? (Not required)">
            </fa-icon>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="importRequest()" id="import-btn">Import</button>
        <button class="button" type="submit" class="btn btn-primary">Request</button>
    </div>
</form>