<div class="modal-header">
    <h4 class="modal-title">Allocate "{{ request_name }}" order</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<p *ngIf="errAfterSubmit">
    <ngb-alert [dismissible]="false">
        <p *ngFor="let error of errMessage">
            <strong>Warning!</strong> {{ error }}
        </p>
    </ngb-alert>
</p>
<form [formGroup]="allocateForm" (ngSubmit)="submitAllocate(allocateForm.value)">
    <div class="modal-body" style="min-height: 200px;">
        <label>Purchaser: </label>
        <ng-select [items]="allPurchaserUser" bindLabel="fullName" bindValue="id" formControlName="purchaser" required></ng-select>
    </div>
    <div class="modal-footer">
        <button class="button" type="submit" class="btn btn-primary">Allocate</button>
    </div>
</form>