<div class="modal-header">
    <h4 class="modal-title">Import Request</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<p *ngIf="errAfterSubmit">
    <ngb-alert [dismissible]="false">
        <p *ngFor="let err of errMessage">
            <strong>Warning!</strong> {{ err }}
        </p>
    </ngb-alert>
</p>
<div class="modal-body">
    <div class="card">
        <form [formGroup]="searchForm" (ngSubmit)="searchRequest(searchForm.value)">
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="Search for requestname" formControlName="name"
                        required>
                </div>
                <div class="col">
                    <select class="custom-select form-control" formControlName="state">
                        <option value="all">all states</option>
                        <option value="accept">accepted</option>
                        <option value="decline">declined</option>
                        <option value="requested">requested</option>
                        <option value="allocated">allocated</option>
                        <option value="archived">archived</option>
                    </select>
                </div>
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">What?</th>
                <th scope="col">Quantity</th>
                <th scope="col">Price</th>
                <th scope="col">User</th>
                <th scope="col">State</th>
                <th scope="col">Import</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of search_requests; index as i" class="request-row">
                <th scope="row" (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ i + 1 }}</th>
                <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.name }}</td>
                <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.quantity | number }}</td>
                <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.price | number }}</td>
                <td (click)="showRequestDeatils(request.ParcelOrderItemId)">{{ request.requesterFirstName }} {{request.requesterLastName }}</td>
                <td (click)="showRequestDeatils(request.ParcelOrderItemId)">
                    <span class="badge badge-primary" *ngIf="request.state == 'requested'">requested</span>
                    <span class="badge badge-success" *ngIf="request.state == 'accept'">accepted</span>
                    <span class="badge badge-light" *ngIf="request.state == 'ordered'">ordered</span>
                    <span class="badge badge-danger" *ngIf="request.state == 'decline'">declined</span>
                    <span class="badge badge-info" *ngIf="request.state == 'allocated'">allocated</span>
                    <span class="badge badge-secondary" *ngIf="request.state == 'archived'">archived</span>
                </td>
                <td><button type="button" class="btn btn-dark btn-sm" (click)="import(request.ParcelOrderItemId)">Import</button></td>
            </tr>
        </tbody>
    </table>
    <span *ngIf="search_requests.length == 0">Nothing found</span>
</div>
<div class="modal-footer">
</div>